<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EagleSolutionMyWay.Config.Test" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EagleSolutionMyWay.Config.Test" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EagleSolutionMyWay.Config.Test>
            <setting name="BaseUrl" serializeAs="String">
                <value>https://www.next.co.uk/</value>
            </setting>
            <setting name="ChromeBrowser" serializeAs="String">
                <value>chrome</value>
            </setting>
            <setting name="FirefoxBrowser" serializeAs="String">
                <value>firefox</value>
            </setting>
            <setting name="InternetExplorerBrowser" serializeAs="String">
                <value>ie</value>
            </setting>
        </EagleSolutionMyWay.Config.Test>
    </userSettings>
    <applicationSettings>
        <EagleSolutionMyWay.Config.Test>
            <setting name="DefaultTimeOuts" serializeAs="String">
                <value>60</value>
            </setting>
        </EagleSolutionMyWay.Config.Test>
    </applicationSettings>
</configuration>